{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true
  },
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "import/prefer-default-export": "off",
        "comma-dangle": "off",
        "object-curly-newline": "off"
      }
    }
  ]
}
